# Data access and cleaning
Will access data files and apis, clean data, and present data to be analyzed

In [1]:
# Import Dependencies

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import warnings
import datautil as du

# Due to file size, one red warning box appears, this hides it to avoid confusion.
warnings.filterwarnings('ignore')

In [2]:
# Reading raw data into dataframes.
du.load_data_files()

LOADING DATA FILES ../data/crime/2012_2016_CrimeRate.csv and ../data/crime/2007-2016-Homelessness-USA.csv

In [3]:
# This gives us acces to the raw crime data
du.raw_crime_data_df.head()

,Date.Rptd,DR.NO,DATE.OCC,TIME.OCC,AREA,AREA.NAME,RD,Crm.Cd,CrmCd.Desc,Status,Status.Desc,Latitude,Longitude
0,6/29/2014,141611067,7/12/2014,1,16,Foothill,1684,121,"RAPE, FORCIBLE",IC,Invest Cont,34.2103,-118.3954
1,3/13/2014,141315628,7/31/2014,1,13,Newton,1321,946,OTHER MISCELLANEOUS CRIME,IC,Invest Cont,34.0320,-118.2667
2,5/15/2014,141918556,9/8/2014,1,19,Mission,1967,668,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",IC,Invest Cont,34.2330,-118.4386
3,12/31/2012,121228703,12/31/2012,1,12,77th Street,1249,510,VEHICLE - STOLEN,IC,Invest Cont,33.9823,-118.2841
4,1/11/2013,130204589,12/31/2012,1,2,Rampart,204,740,VANDALISM,AO,Adult Other,34.0787,-118.2844

In [4]:
# And the raw homeless data
du.raw_homeless_data_df.head()

,Year,State,CoC Number,CoC Name,Measures,Count
0,1/1/2007,AK,AK-500,Anchorage CoC,Chronically Homeless Individuals,224
1,1/1/2007,AK,AK-500,Anchorage CoC,Homeless Individuals,696
2,1/1/2007,AK,AK-500,Anchorage CoC,Homeless People in Families,278
3,1/1/2007,AK,AK-500,Anchorage CoC,Sheltered Chronically Homeless Individuals,187
4,1/1/2007,AK,AK-500,Anchorage CoC,Sheltered Homeless,842

In [5]:
# Will clean up the data. Rename columns, changes the crime description to be reader
# friendly and add the year of the crime for sorting. Will make sure the data is loaded already.
du.clean_data()
du.clean_crime_data_df.head()

DATA FILES ALREADY LOADED ... To reload data use reload_data()

,Date Reported,Case Number,Date Occurred,Time Occurred,Area,Area Name,RD,Crime Code,Crime Description,Status,Status Description,Latitude,Longitude,Year of Crime,Time Block
4,1/11/2013,130204589,12/31/2012,1,2,Rampart,204,740,Vandalism,AO,Adult Other,34.0787,-118.2844,2012,0000-0359
8,1/27/2013,130705069,12/31/2012,1,7,Wilshire,762,740,Vandalism,IC,Invest Cont,34.0496,-118.3747,2012,0000-0359
18,12/30/2012,120327673,12/30/2012,1,3,Southwest,316,740,Vandalism,IC,Invest Cont,34.0337,-118.3031,2012,0000-0359
21,12/30/2012,122022144,12/30/2012,1,20,Olympic,2044,624,Battery,IC,Invest Cont,34.0577,-118.2998,2012,0000-0359
22,12/30/2012,122022162,12/30/2012,1,20,Olympic,2093,740,Vandalism,IC,Invest Cont,34.0400,-118.3032,2012,0000-0359

In [6]:
# Grab the counts of homeless over the data period of 2012 to 2016
du.homeless_counts()

,Year,State,CoC Number,CoC Name,Measures,Count
28561,1/1/2012,CA,CA-600,Los Angeles City & County CoC,Total Homeless,31553
36919,1/1/2013,CA,CA-600,Los Angeles City & County CoC,Total Homeless,35524
45319,1/1/2014,CA,CA-600,Los Angeles City & County CoC,Total Homeless,34393
54804,1/1/2015,CA,CA-600,Los Angeles City & County CoC,Total Homeless,41174
71730,1/1/2016,CA,CA-600,Los Angeles City & County CoC,Total Homeless,43854